//- Footer
div.footer
  div.wrapper
    div.links
      a(href="#{PUBLIC_URL}/") Home
      a(href="#{PUBLIC_URL}/provider") For Providers
      a(href="#{PUBLIC_URL}/about") About
      a(href="#{PUBLIC_URL}/contact") Contact Us
      a(href="/") Support
      a(href="#{PUBLIC_URL}/privacy") Privacy
      a(href="#{PUBLIC_URL}/hipaa") HIPAA Compliance
    div.copyright &copy; 2015 Patient Bank, LLC
